<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.service.apiTest.dom.mapper.ApiCaseMapper">

    <resultMap id="apiCaseResultMap" type="com.service.apiTest.dom.entity.ApiCase">
        <result property="id" column="id"/>
        <result property="apiId" column="api_id"/>
        <result property="apiCaseMark" column="api_case_mark"/>
        <result property="apiCaseLv" column="api_case_lv"/>
        <result property="apiCaseType" column="api_case_type"/>
        <result property="headerHandleParam" column="header_handle_param"/>
        <result property="webformHandleParam" column="webform_handle_param"/>
        <result property="bodyHandleParam" column="body_handle_param"/>
        <result property="relyCaseId" column="rely_case_id"/>
        <result property="isDepend" column="is_depend"/>
        <result property="statusAssertion" column="status_assertion"/>
        <result property="otherAssertionType" column="other_assertion_type"/>
        <result property="delUserId" column="del_user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="deviceType" column="device_type"/>
        <result property="headerRelyToHandle" column="header_rely_to_handle"/>
        <result property="webformRelyToHandle" column="webform_rely_to_handle"/>
        <result property="bodyRelyToHandle" column="body_rely_to_handle"/>
    </resultMap>
    <sql id="apiCaseData">
        id
        ,
        api_id,
        api_case_mark,
        api_case_lv,
        api_case_type,
        api_handle_param,
        header_handle_param,
        webform_handle_param,
        body_handle_param,
        rely_case_id,
        is_depend,
        status_assertion,
        other_assertion_type,
        device_type,
        header_rely_to_handle,
        webform_rely_to_handle,
        body_rely_to_handle

    </sql>
    <sql id="apiCaseDatas">
        #{id}
        ,
        #{apiId},
        #{apiCaseMark},
        #{apiCaseLv},
        #{apiCaseType},
        #{apiHandleParam},
        #{headerHandleParam},
        #{webformHandleParam},
        #{bodyHandleParam},
        #{relyCaseId},
        #{isDepend},
        #{statusAssertion},
        #{otherAssertionType},
        #{deviceType},
        #{headerRelyToHandle},
        #{webformRelyToHandle},
        #{bodyRelyToHandle}

    </sql>

    <sql id="list_count">
        <if test="apiCaseMark != null">
            and api_case_mark like CONCAT('%',#{apiCaseMark},'%')
        </if>
        <if test="caseIdList!=null">
            <if test="caseIdList.size > 0">
                and api_id in
                <foreach collection="caseIdList" item="apiId" index="index" open="(" close=")" separator=",">
                    #{apiId}
                </foreach>
            </if>
            <if test="caseIdList.size == 0">
                and id = -1
            </if>
        </if>
    </sql>


    <insert id="addApiCaseData">
        insert into apicase
        (<include refid="apiCaseData"/>,create_user_id)
        value
        (<include refid="apiCaseDatas"/>,#{createUserId})
    </insert>


    <select id="getCountApiCase" resultType="java.lang.Integer">
        select count(*)
        from apicase
        where is_del = 0;
    </select>


    <select id="getCountApiCaseByApiId" resultType="java.lang.Integer">
        select count(*)
        from apicase
        where api_id = #{apiId}
          and is_del = 0;
    </select>


    <select id="getApiCaseList" resultMap="apiCaseResultMap">
        select id,api_id,api_case_mark,api_case_lv,api_case_type
        from apicase
        where is_del = 0
        <include refid="list_count"/>
        limit #{pageBegin},#{pageEnd};
    </select>
    <select id="getApiCaseData" resultMap="apiCaseResultMap">
        select
        <include refid="apiCaseData"/>
        from apicase where id=#{id}
    </select>
    <update id="updateApiCaseData">
        update apicase
        set api_case_mark        = #{apiCaseMark},
            api_case_lv          = #{apiCaseLv},
            api_case_type        = #{apiCaseType},
            api_handle_param     = #{apiHandleParam},
            header_handle_param  = #{headerHandleParam},
            webform_handle_param = #{webformHandleParam},
            body_handle_param    = #{bodyHandleParam},
            rely_case_id         = #{relyCaseId},
            is_depend            = #{isDepend},
            status_assertion     = #{statusAssertion},
            other_assertion_type = #{otherAssertionType},
            device_type          = #{deviceType},
            headerRelyToHandle   = #{headerRelyToHandle},
            webformRelyToHandle  = #{webformRelyToHandle},
            bodyRelyToHandle     = #{bodyRelyToHandle}
        where id = #{id};
    </update>
    <update id="delApiCase">
        update apicase
        set is_del = 1 and del_user_id = #{userId}
    </update>
    <select id="findApiCaseOfLv" resultType="java.lang.String">
        select api_case_lv
        from apicase
        where id = #{id}
    </select>
    <select id="findApiCaseOfType" resultType="java.lang.String">
        select api_case_type
        from apicase
        where id = #{id}
    </select>
    <select id="getApiCaseListForReport" resultType="com.service.apiTest.dom.domin.ApiCaseForReport">
        select a.id as testId,b.api_path as path,a.api_case_mark as mark ,b.device as device ,a.device_type as
        deviceType
        from apicase a,uri b
        where a.api_id=b.id and a.id in
        <foreach collection="testIdList" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="getTestForRely" resultMap="apiCaseResultMap">
        select id,api_case_mark
        from apicase
        where api_id = #{id}
    </select>
</mapper>