<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.service.apiTest.dom.mapper.ApiReportMainMapper">
    <resultMap id="report" type="com.service.apiTest.dom.entity.ApiReportMain">
        <result property="id" column="id"/>
        <result property="testList" column="test_list"/>
        <result property="createTime" column="create_time"/>
        <result property="success" column="success"/>
    </resultMap>

    <insert id="add">
        insert into api_report_main (id) value (#{id});
    </insert>
    <update id="updateSuccess">
        update api_report_main set success = #{success} where id = #{id}
    </update>
    <select id="getList" resultMap="report">
        select * from api_report_main where project_id = #{projectId} order by create_time desc limit #{pageBegin},#{pageEnd} ;
    </select>
    <select id="getCount" resultType="java.lang.Integer">
        select count(*) from api_report_main where project_id = #{projectId};
    </select>
    <select id="haveOldReport" resultType="java.lang.Integer">
        select count(*) from api_report_main where id = #{id}
    </select>

</mapper>