<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.service.user.dao.mapper.UserMapper">
    <select id="getUserByName" resultType="com.service.user.dao.entity.DUser">
        select *
        from user where username
             =
             #{username}
    </select>
    <select id="getProject" resultType="com.service.user.dao.entity.ProjectData">
        select * from project;
    </select>

</mapper>